body {
    margin: 0;
}

.box1 {
    background: lightcyan;
}

.box2 {
    background: lightgray;
}

.box3 {
    background: lightskyblue;
}

.main {
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: 30% 40% 30%; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: 400px 200px; */
    grid-template-rows: 1fr 1fr;
    /* grid-gap: 20px; */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.color {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.color1 {
    grid-column-start: 1;
    grid-column-end: 2;

    /* grid-column: 1/2; */

    /* grid-row-start: 1;
    grid-row-end: 3; */

    grid-row: 1/3;

    background: green;
}

.color2 {
    grid-column: 2/3;
    grid-row: 2/4;
    background: yellow;
}

.color3 {
    grid-column: 2/4;
    grid-row: 1/2;
    background: darkblue;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas: 
    "g1 g3 g3 "
    "g1 g2 ."
    ". g2 ."
    ;
}

.gallery1 {
    grid-area: g1;
    background: violet;
}

.gallery2 {
    grid-area: g2;
    background: orange;
}

.gallery3 {
    grid-area: g3;
    background: khaki;
}